<section class="brandDetail">
    <div class="banner">
        <img src="../../assets/img/banner_detail_offer.png" alt="">
    </div>
    <h3 class="title">
        Tatacliq 2nd Anniversary Sale - Up To 80% OFF + Extra 10% OFF On Everything (HDFC Users)
        <span>Valid till 31st July 2018</span>
    </h3>
    <ul class="list">
        <li>
            TataCLiQ offering flash sale where you can avail Up to 80% OFF on Fashion, electronics like mobiles, laptops, refrigerators, head phones, cameras, mixer grinders, televisions, air conditioners, microwaves and many.
        </li>
        <li>
            Get extra 10% discount on electronics and jewellery on all orders above Rs 5000. Maximum discount will be Rs 2000. Offer valid on HDFC bank debit and credit cards only.
        </li>
        <li>
            Get extra 10% discount on small electronics and accessories on all orders above Rs 2500.
        </li>
        <li>
            Maximum discount will be Rs 750. Offer valid on HDFC bank debit and credit cards only.
        </li>
        <li>
            Get extra 10% discount on select categories (Small Appliances)on all orders above Rs 1500. Maximum discount will be Rs 750. Offer valid on HDFC bank debit and credit cards only.
        </li>
        <li>
            Offer valid from 26th May to 31st May'18. Grab it today.

        </li>
    </ul>
    <button (click)="event-handler()" class="btn btn-danger btn-block">Activate this offer ></button>

</section>