<section class="page_final_deals">
    <div class="titleWithLink">
        <div class="row">
            <div class="col">
                <h2>
                    POPULAR STORES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p>Checkout the exclusive coupons from your favourite store</p>
            </div>
            <div class="col-4"><a href (click)="goToStore()">View All Stores ></a></div>
        </div>
    </div>

    <drag-scroll>
        <div class="brandsLogos"><img src="./assets/img/brands/red-chief.png" alt=""></div>
        <div class="brandsLogos"><img src="./assets/img/brands/max.png" alt=""></div>
        <div class="brandsLogos"><img src="./assets/img/brands/myntra.png" alt=""></div>
        <div class="brandsLogos"><img src="./assets/img/brands/abof.png" alt=""></div>
        <div class="brandsLogos"> <img src="./assets/img/brands/amazon.png" alt=""></div>
        <div class="brandsLogos"><img src="./assets/img/brands/flipkart.png" alt=""></div>
        <div class="brandsLogos"><img src="./assets/img/brands/pepperfry.png" alt=""></div>
        <div class="brandsLogos"><img src="./assets/img/brands/shopclues.png" alt=""></div>
        <div class="brandsLogos"><img src="./assets/img/brands/tata-cliq.png" alt=""></div>
        <div class="brandsLogos"> <img src="./assets/img/brands/furnspace.png" alt=""></div>

    </drag-scroll>

    <div class="titleWithLink">
        <div class="row">
            <div class="col">
                <h2>
                    LATEST OFFERS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p>Checkout the latest offer on Dealhunt!</p>
            </div>
            <div class="col-4"><a href (click)="goToStore()">View More Offers ></a></div>
        </div>
    </div>


    <ul class="listOfOffers">
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/red-chief.png" alt="">
                </div>
                <div class="col-6">
                    Get Upto 50% Off + Extra Rs. 100 off on orders worth Rs. 1000 & Above
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">View More</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/furnspace.png" alt="">
                </div>
                <div class="col-6">
                    Double Savings. Get Upto 50% off + Extra 10% off on orders above Rs.7999
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">View More</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/myntra.png" alt="">
                </div>
                <div class="col-6">
                    Myntra Fresh Apparels – Get Upto 70% + Extra 25% OFF Top Brands
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">View More</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/myntra.png" alt="">
                </div>
                <div class="col-6">
                    Myntra Fresh Apparels – Get Upto 70% + Extra 25% OFF Top Brands
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">View More</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/myntra.png" alt="">
                </div>
                <div class="col-6">
                    Myntra Fresh Apparels – Get Upto 70% + Extra 25% OFF Top Brands
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">View More</button>
                </div>
            </div>
        </li>
    </ul>
</section>