<section class="dhExclusive">
    <div class="headSection">
        <img src="./assets/img/dh_icon.png" alt="">
        <h3>dh exclusive deals
            <span>TOP BRANDS WITH EXCITING OFFERS!</span>
        </h3>
    </div>
    <ul class="dhLists">
        <li *ngFor="let item of dhexclusive" (click)="goToDetailPage()">
            <i><img src="{{item.brandlogo}}" /></i>
            <p>{{item.name}}</p>
        </li>
        <!-- <li>
            <i><img src="./assets/img/myntra_logo.png" /></i>
            <p>Myntra</p>
        </li>
        <li>
            <i><img src="./assets/img/myntra_logo.png" /></i>
            <p>Myntra</p>
        </li>
        <li>
            <i><img src="./assets/img/myntra_logo.png" /></i>
            <p>Myntra</p>
        </li>
        <li>
            <i><img src="./assets/img/myntra_logo.png" /></i>
            <p>Myntra</p>
        </li>
        <li>
            <i><img src="./assets/img/myntra_logo.png" /></i>
            <p>Myntra</p>
        </li> -->
    </ul>
</section>
<div class="loading" *ngIf="loading">
    <div class="lds-hourglass"></div>
</div>