<section class="offerspage">
    <ul class="listOfOffers">
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/red-chief.png" alt="">
                </div>
                <div class="col-6">
                    Get Upto 50% Off + Extra Rs. 100 off on orders worth Rs. 1000 & Above
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" [routerLink]="['/brand-detail']">View More</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/furnspace.png" alt="">
                </div>
                <div class="col-6">
                    Double Savings. Get Upto 50% off + Extra 10% off on orders above Rs.7999
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" [routerLink]="['/brand-detail']">View More</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/myntra.png" alt="">
                </div>
                <div class="col-6">
                    Myntra Fresh Apparels – Get Upto 70% + Extra 25% OFF Top Brands
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" [routerLink]="['/brand-detail']">View More</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/myntra.png" alt="">
                </div>
                <div class="col-6">
                    Myntra Fresh Apparels – Get Upto 70% + Extra 25% OFF Top Brands
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" [routerLink]="['/brand-detail']">View More</button>
                </div>
            </div>
        </li>
        <li>
            <div class="row align-items-center">
                <div class="col">
                    <img src="./assets/img/brands/myntra.png" alt="">
                </div>
                <div class="col-6">
                    Myntra Fresh Apparels – Get Upto 70% + Extra 25% OFF Top Brands
                    <div class="info">
                        <img src="./assets/img/icon_time-left.png" alt=""> Offer Ends in 2:30:20 hrs
                    </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" [routerLink]="['/brand-detail']">View More</button>
                </div>
            </div>
        </li>
    </ul>

</section>