<section class="listYourOffer">
    <form>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Brand Name" formControlName="brandName" type="text" />
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Offer Name" formControlName="OfferName" type="text" />
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Offer Validity" formControlName="OfferValidity" type="text" />
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Offer Description" formControlName="OfferDescription"></textarea>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Offer T&C" formControlName="OfferTc"></textarea>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Contact Name" formControlName="contactName" type="text" />
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Contact Number" formControlName="contactNumber" type="text" />
            </mat-form-field>
        </div>
        <div class="form-group text-center">
            <button type="button" class="btn btn-danger">create offer</button>
        </div>
    </form>
</section>