<section class="offerspage">


    <div class="row">
        <div class="col">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><span>Search By</span><br>Categories</button>
                <button type="button" class="btn btn-default">></button>
            </div>
        </div>
        <div class="col text-right">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><span>Search By</span><br>Brands</button>
                <button type="button" class="btn btn-default">></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="../../assets/img/banner_jabong.png" class="banners" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="../../assets/img/banner_vivio.png" class="banners" alt="">
        </div>
    </div>
    <div class="titleWithLink">
        <div class="row">
            <div class="col">
                <h2>
                    OFFERS NEAR YOU</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>sort By</span><br>DISTANCE</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>filter By</span><br>< than 5kms</button>
        </div>
        <div class="col">
            icons
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="map"></div>
        </div>
    </div>

</section>