<section class="notificationOut">
    <p class="date">23 may 2018</p>
    <div class="card">
        <div class="vouchersBlock">
            <div class="row">
                <div class="col-4">
                    <img src="./assets/img/brands/levis_logo.png">
                </div>
                <div class="col-8">
                    <h5>Conguratualtions! Here's your Rs. 100 Levi's Voucher</h5>
                </div>    
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Get Rs.100 off on a minimum bill amount of Rs.400 at all Levi's stores. this voucher is valid till 4th June, 2018</p>
                    <p class="voucherCodeOut">Use code <span class="voucherCode">levis100</span></p>
                </div>
            </div>
        </div>
    </div>
    <p class="date">18 may 2018</p>
    <div class="card">
        <div class="brandsOut">
            <h6>Exciting deals from 64+ stores in HSR Layout</h6>
            <ul class="brandsList">
                <li>
                    <img src="./assets/img/brands/peter_england.png" />
                    <span>300 off*</span>
                </li>
                <li>
                    <img src="./assets/img/brands/pepe.png" />
                    <span>200 off*</span>
                </li>
                <li>
                    <img src="./assets/img/brands/united_colors.png" />
                    <span>25% off*</span>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-danger">View More</button>
                </div>
            </div>
        </div>
    </div>
</section>