.signin {
    text-align: center;
    height: 100%;
}

.signin .img {
    width: 100px;
    margin-top: 50px;
}

.signin h3 {
    font-size: 50px;
    font-weight: 300;
}

.full-width {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.signin p {
    margin-bottom: 50px;
}

.signin a {
    margin-bottom: 15px;
    color: #333;
    display: block;
}

.signin .btnCont {
    right: 16px;
    left: 16px;
    position: absolute;
    bottom: 50px;
    z-index: 99;
}

.signin .btnCont img {
    height: 20px;
    width: 20px;
}

.btnCont .btn {
    width: 100%;
}

.signin .otp {
    font-size: 30px;
}