.brandDetail {
    padding-bottom: 20px;
    .banner {
        height: auto;
        margin: 10px 0 20px 0;
        img {
            width: 100%;
        }
    }
    .title {
        font-size: 18px;
        color: #666;
        font-weight: 500;
        span {
            display: block;
            font-size: 14px;
            font-weight: 300;
            margin: 5px 0;
        }
    }
    .list {
        margin: 20px 0 0 0;
        padding: 0;
        li {
            list-style-type: square;
            margin: 0 0 10px 16px;
            padding: 0;
            font-style: italic;
            font-size: 14px;
            color: #888;
            font-weight: 300;
        }
    }
    .btn {
        text-transform: uppercase;
    }
}

.titleWithLink {
    h2 {
        font-size: 20px;
        color: #888;
        font-weight: 300;
        margin-top: 10px;
        text-transform: uppercase;
    }
    p {
        font-size: 12px;
        font-weight: 300;
        line-height: 1em;
    }
    a {
        font-size: 12px;
        font-weight: 300;
        color: #375461;
        float: right;
        line-height: .8em;
    }
}

drag-scroll {
    height: 50px;
    width: 100%;
    // img {
    //     height: 50px;
    //     width: 50px;
    // }
    .brandsLogos {
        width: 100px;
        height: 80px;
        border: 1px solid red;
        text-align: center;
    }
}