<header>
    <h1>sign up</h1>
</header>
<div class="signUpContainer">

    <form [formGroup]="signUp_form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Name" formControlName="name" type="text" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Email" formControlName="email" class="form-control" [email]="true" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email ID is required</div>
                    <div *ngIf="f.email.errors.email && !f.email.errors.required">Invalid email</div>
                </div>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Mobile Number" formControlName="mobileNumber" type="number" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
                <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.mobileNumber.errors.required">mobileNumber is required</div>
                </div>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Select the city" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    <mat-option *ngFor="let item of cities" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
            </div>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">Date of birth is required</div>
            </div>
        </div>
        <!--<div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Gender" formControlName="gender" />
            </mat-form-field>
        </div>-->
        <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Gender" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                    <mat-option *ngFor="let item of genders" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                <div *ngIf="f.gender.errors.required">Gender is required</div>
            </div>
        </div>
        <div class="btnCont">
            <button class="btn custom" type="submit">Next</button>
        </div>
        <!--<a href="" class="nextBtn" [routerLink]="['register2']">Next</a>-->
    </form>
</div>