<header>
  <h1>sign up</h1>
</header>
<div class="signUpContainer">
  <form [formGroup]="signUp_form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Favorite food" formControlName="name" value="Sushi">
      </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Favorite food" formControlName="email" value="Sushi">
        </mat-form-field>
      </div>

  </form>
</div>


<a href="" class="nextBtn">Next</a>