<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <div class="logoBar">
            <img src="assets/img/logo.png" alt="">
        </div>
        <mat-toolbar color="primary">
            <div class="profileImg">
                <img src="alsfj.png" alt="">
            </div>
            <div class="profileDetail">
                Rakesh Sharma
            </div>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#" class="home"> Home</a>
            <a mat-list-item href="#" class="category">Categories ></a>
            <a mat-list-item href="#" class="finaldeals">Final Deals</a>
            <a mat-list-item href="#" class="exclusive">Dealhunt Exclusive</a>
            <hr>
            <a mat-list-item href="#" class="settings">Settings</a>
            <a mat-list-item href="#" class="shareapp">Share The App</a>
            <a mat-list-item href="#" class="rateapp">Rate Our App</a>
            <a mat-list-item href="#" class="helpdesk">Helpdesk</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Dealhunt</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <alert></alert>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>