<div class="signin container">
    <img src="./assets/img/icon_user.png" alt="">
    <h3>Sign In</h3>


    <form [formGroup]="signIn_form" (ngSubmit)="onSubmit()">
        <!--<div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter OTP Number" formControlName="otp" type="password" value="452154">
            </mat-form-field>
            
        </div>-->
        <div class="form-group">
            <!--<input type="text" formControlName="username" placeholder="Enter Your Mobile Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />-->
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter OTP Number" formControlName="otp" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.otp.errors }" />
                <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                    <div *ngIf="f.otp.errors.required">OTP Number is required</div>
                </div>
            </mat-form-field>
        </div>
        <p>We've sent the confirmation code to your mobile. Please confirm to login.</p>
        <div class="btnCont">
            <a href="javascript:;">Resend</a>
            <button class="btn custom" type="submit" [disabled]="loading">
                <span *ngIf="!loading">Submit</span> 
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </button>
        </div>
    </form>

</div>