<!--<h1>
    Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 6!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}}) - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
<p><a [routerLink]="['/login']">Logout</a></p>-->

              
<!-- <div class="tabOut">
    <mat-tab-group headerPosition="below" disableRipple="true">
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="icon1">
                    <h6>Final Deals</h6>
                </div>
            </ng-template>
            <app-listofoffers></app-listofoffers>
        </mat-tab>
        <mat-tab> Content 2
            <ng-template mat-tab-label>
                <div class="icon2">
                    <h6>My Account</h6>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <app-exclusive>Loading...</app-exclusive>
            <ng-template mat-tab-label>
                <div class="icon3">
                    <h6>DH Exclusive</h6>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <app-final-deals>Loading...</app-final-deals>
            <ng-template mat-tab-label>
                <div class="icon4">
                    <h6>List Your Offer</h6>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div> -->

<app-listofoffers></app-listofoffers>

